
body{
    margin: auto;
    text-align: center;
}
header{
    margin: auto;
    margin-bottom:80px;
    margin-top: 100px;
    width: 400px; 
    
}
header h1{
    border-radius:10px;
    font-size:50px;
    color: hsl(0, 55%, 42%);
    padding: 10px;
    background-color: rgb(265, 200, 0);
    border:1px solid hsl(0, 55%, 42%);
}
.first-part{
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}
.timer{
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}
#img{
    width:850px;
    height: 550px;
    margin-top: -10px;
}
.marks {
    font-size: 50px;
    font-weight: bold;
    width: 70px;
}
.marks button{
    width: auto;
    height: auto;
    font-size: 40px;
    margin-top: 15px;
}
.mid-part{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    font-weight: bold;
}
.mid-part button{
    width: 150px;
    height: 60px;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    font-weight: bold; 
}
.time{
    display: flex;
    margin-top: -5px;
    font-size: 30px;
}
button{
    border-radius:10px;
    color: hsl(0, 55%, 42%);
    background-color: rgb(265, 200, 0);
    border:1px solid hsl(0, 55%, 42%);
    }
footer{
    margin: auto;
    width: 225px;
    height: auto;
    margin-top: 30px;
    text-align: center;
    font-size:30px;
    
}

#work{
    margin: auto; 
}
#divWork{
    margin: auto;
    margin-bottom: 21px;
    margin-top: 22px;
}

.style{
    border-radius:10px;
    color: hsl(0, 55%, 42%);
    background-color: rgb(265, 200, 0);
    border:1px solid hsl(0, 55%, 42%);
}
.left-part{
    margin-top: 50px;
  
}
.right-part{
    margin-top: 50px;
    
}
